<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> 
    <ion-title>Flowers Waste List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of flowersWasteList" (click)='goTo(item.id)'>
    <ion-card-header>
      <ion-card-subtitle>{{item.date | date:'mediumDate'}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let wItem of item.wasteArray">
            <h3 text-capitalize>{{typeName(wItem.typeId)}}</h3> <span slot='end' >{{wItem.count}}</span>
        </ion-item>
      </ion-list>       
      </ion-card-content>
    
  </ion-card>

</ion-content>
