<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>      
    </ion-buttons>   
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines='full'>  
    <form [formGroup]='flowerTypeForm' (ngSubmit)='saveFlowerType()' >    
      <ion-item>
        <ion-label position='stacked' color='primary'>Flower Type</ion-label>       
        <ion-input formControlName="typeName" type='text'></ion-input>
        <div class='custom-error' *ngIf='submitted && f.typeName.errors'>          
          <p *ngIf='f.typeName.errors.required'>Flower Type cannot be empty.</p>          
        </div>
      </ion-item>
    
    
      <ion-item *ngIf='!disabledFlag'>
        <ion-buttons slot='end' >      
          <ion-button color='medium' fill='solid' (click)='cancel()'>Cancel</ion-button>
          <ion-button color='primary' fill='solid' type='submit'>Save</ion-button>
        </ion-buttons>
          
      </ion-item>
    </form>
  </ion-list>
  

</ion-content>
<ion-footer>
  <ion-toolbar *ngIf='viewEditCycle()'>
      <ion-buttons slot='end'>
        <ion-button color='danger' fill='solid' (click)='delete()'>DELETE</ion-button>      
        <ion-button color='primary' fill='solid' (click)='editFlowerType()' *ngIf='disabledFlag'>EDIT</ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-footer>
