<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Flowers Waste Multi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of sample">
    <ion-item lines="full">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col class="ion-no-padding">            
            <ion-text color="primary">#{{item.txNo}}</ion-text>
          </ion-col>
          <ion-col class="ion-no-padding">
            <ion-text color="primary">{{item.date}}</ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item lines="full">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col class="ion-no-padding">            
            <ion-text color="primary">Supplier</ion-text>
          </ion-col>
          <ion-col class="ion-no-padding">
            <ion-text>{{item.supplier}}</ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-list>
      <ion-item lines="full">       
        <ion-grid  class="ion-no-padding">
          <ion-row>
            <ion-col size="8" class="ion-no-padding">             
              <ion-text color="primary">Type</ion-text>
            </ion-col>
            <ion-col size="2" class="ion-no-padding">
              <ion-text color="primary">Qty</ion-text>
            </ion-col>
            <ion-col size="2" class="ion-no-padding">
              <ion-text color="primary">Waste</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <div *ngFor="let flower of item.flowers">      
        <ion-item lines="full">       
          <ion-grid  class="ion-no-padding">
            <ion-row>
              <ion-col size="8" class="ion-no-padding">
                <ion-item lines="none"  class="ion-no-padding">
                  <ion-input type="text" [value]="flower.type"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="2"  class="ion-no-padding">
                <ion-item lines="none" class="ion-no-padding">
                  <ion-input type="number" [value]="flower.count" disabled></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="2"  class="ion-no-padding">
                <ion-item lines="none" class="ion-no-padding">
                  <ion-input type="number"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </div>      
    </ion-list>
  </ion-card>
</ion-content>
