<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Flowers In Multi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item lines="full">
      <ion-grid>
        <ion-row>
          <ion-col>            
            <ion-item lines="none" class="ion-no-padding">
              <ion-label position="stacked" color="primary">#</ion-label>
              <ion-input type="number" value="23" disabled></ion-input>  
            </ion-item>
          </ion-col>
          <ion-col>
              <ion-item lines="none" class="ion-no-padding">
                <ion-label position="stacked" color="primary">Date</ion-label>
                <ion-datetime type="number"></ion-datetime>  
              </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
        <ion-label position="stacked" color="primary">Supplier</ion-label>
        <ion-select [interfaceOptions]="typeActionSheet" interface="action-sheet" placeholder="Select Supplier">
          <ion-select-option *ngFor="let item of suppliers" [value]="item.id">{{item.supplierName}}</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-list>
      <div *ngFor="let item of flowersList">      
        <ion-item lines="none">
          <ion-label position="stacked" color="primary">Type</ion-label>
          <ion-select [interfaceOptions]="typeActionSheet" interface="action-sheet" placeholder="Select Type">
            <ion-select-option *ngFor="let item of flowerTypes" [value]="item.id">{{item.typeName}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item lines="full">       
          <ion-grid  class="ion-no-padding">
            <ion-row>
              <ion-col size="3">
                <ion-item lines="none" class="ion-no-padding">
                  <ion-label position="stacked" color="primary">Quantity</ion-label>
                  <ion-input type="number"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="3">
                <ion-item lines="none" class="ion-no-padding">
                  <ion-label position="stacked" color="primary">Unit Cost</ion-label>
                  <ion-input type="number"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="3">
                <ion-item lines="none" class="ion-no-padding">
                  <ion-label position="stacked" color="primary">Total</ion-label>
                  <ion-input type="number" disabled></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="3">
                <ion-item lines="none" class="ion-no-padding">
                  <ion-label position="stacked" color="primary">Reclaim</ion-label>
                  <ion-input type="number"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </div>      
    </ion-list>
  </ion-card>
</ion-content>
