<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> 
    <ion-title>Flower Types List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines='full'>
    <ion-item *ngFor="let item of flowerTypesList" (click)='goTo(item.id)'>{{item.typeName}}</ion-item>
  </ion-list>

</ion-content>
