<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-title>FLOWERESCUE Inventory App</ion-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <form [formGroup]='loginForm' (ngSubmit)='login()'>
          <ion-item>
            <ion-label position='stacked'>Email</ion-label>
            <ion-input type='email' formControlName='email'></ion-input>            
          </ion-item>
          <ion-item>
            <ion-label position='stacked'>Password</ion-label>
            <ion-input type='password' formControlName='password' (keyup.enter)='login()'></ion-input>            
          </ion-item>
          <ion-item lines='none'>
            <ion-buttons slot='end' margin-top>
              <ion-button fill='solid' color='dark' [routerLink]="['/register']">Register</ion-button>
              <ion-button type='submit' fill='solid' color='primary'>Login</ion-button>
            </ion-buttons>
          </ion-item>
        </form>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
