<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <div *ngIf='authState'>

            
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" *ngFor="let p of appPages">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </div>
            <ion-item [routerDirection]="'root'" [routerLink]='["/register"]' *ngIf='!authState'>
              <ion-icon slot='start' name='person-add'></ion-icon>
              <ion-label>
                Register  
              </ion-label>
            </ion-item>
            <ion-item [routerDirection]="'root'" [routerLink]='["/login"]' *ngIf='!authState'>
              <ion-icon slot='start' name='log-in'></ion-icon>
              <ion-label>
                Login  
              </ion-label>
            </ion-item>
            <ion-item (click)='logout()' class='logout' *ngIf='authState'>
              <ion-icon slot='start' name='log-out'></ion-icon>
              <ion-label>
                Logout  
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
