<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-title>FLOWERESCUE Inventory App</ion-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>     
        <form [formGroup]='registerForm' (ngSubmit)='register()'>        
          <ion-item>
            <ion-label position='stacked'>First Name</ion-label>
            <ion-input type='text' formControlName='firstName'></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position='stacked'>Last Name</ion-label>
            <ion-input type='text' formControlName='lastName'></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position='stacked'>Company</ion-label>
            <ion-input type='text' formControlName='company'></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position='stacked'>Mobile No</ion-label>
            <ion-input type='text' formControlName='mobNo'></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position='stacked'>Email</ion-label>
            <ion-input type='email' formControlName='email'></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position='stacked'>Password</ion-label>
            <ion-input type='password' formControlName='password'></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position='stacked'>Repeat Password</ion-label>
            <ion-input type='password' formControlName='repeatPassword' (keyup.enter)='register()'></ion-input>
          </ion-item>
          <ion-item lines='none'>
            <ion-buttons slot='end' margin-top>
              <ion-button fill='solid' color='primary' type='submit'>Register</ion-button>
            </ion-buttons>
          </ion-item>
        </form>      
      </ion-list>    
    </ion-card-content>
  </ion-card>

</ion-content>
