<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> 
    <ion-title>Flowers In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines='full'>
    <form [formGroup]='flowersInForm' (ngSubmit)='saveFlowerIn()' >
      <ion-item>
        <ion-label position='stacked' color='primary'>Date</ion-label>
        <ion-datetime picker-format='DD MMM YYYY' display-format='DD MMM YYYY' [max]='maxDt' formControlName='date'></ion-datetime>
      </ion-item>
      <div formArrayName='inArray'>
        <div *ngFor='let item of inArrayForm.controls; let i = index' [formGroupName]='i'>
          <ion-item-sliding #slidingItem>
            <ion-item>                         
              <ion-label position='stacked' color='primary'>Type</ion-label>
              <ion-select formControlName='typeId' [interfaceOptions]='typeActionSheet' interface='action-sheet' placeholder='Select Flower Type'>
                <ion-select-option *ngFor="let item of flowerTypes" [value]='item.id'>{{item.typeName}}</ion-select-option>
              </ion-select>                          
              <ion-label position='stacked' color='primary'>Count</ion-label>
              <ion-input type='number' formControlName='count'></ion-input>
            </ion-item>
            <ion-item-options side='end'>
              <ion-item-option color='danger' (click)='deleteFlowerInItem(slidingItem, i)'>
                DELETE
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>       
        </div>
      </div>
      <ion-item *ngIf='!disabledFlag'>
        <ion-buttons slot='end'>      
          <ion-button color='medium' fill='solid' (click)='cancel()'>Cancel</ion-button>
          <ion-button color='primary' fill='solid' type='submit'>Save</ion-button>
        </ion-buttons>
      </ion-item>
      
    </form>  
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button size='small' (click)='addFlowerInItem()'>
        <ion-icon name='add'></ion-icon>
      </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer *ngIf='disabledFlag'>
  <ion-toolbar>
    <ion-buttons slot='end'>
      <ion-button color='danger' fill='solid' (click)='deleteFlowerIn()'>DELETE</ion-button>
      <ion-button color='primary' fill='solid' (click)='editFlowerIn()'>EDIT</ion-button>
    </ion-buttons>
  </ion-toolbar>  
</ion-footer>

