<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/flower.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to <b>FLOWERESCUE</b> <i>Inventory App</i></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your app is ready, you'll want to start by adding flower types. Click the button below.</p>
        <ion-button [routerLink]="['/flower-type-master',0]" routerLinkActive="router-link-active" >Create Flower Type</ion-button>
      </ion-card-content>
    </ion-card>    
</ion-content>
