<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Flowers In List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let item of flowersInList" (click)='goTo(item.id)'>
      <ion-card-header>
        <ion-card-subtitle>{{item.date | date:'mediumDate'}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let iItem of item.inArray">
              <h3 text-capitalize>{{typeName(iItem.typeId)}}</h3> <span slot='end' >{{iItem.count}}</span>
          </ion-item>
        </ion-list>       
        </ion-card-content>
      
    </ion-card>  
  </ion-content>
